$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

html, body, .container, #google-map, .map-canvas {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #fafafa;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}

#google-map {
}

.map-canvas {
}

.map-controls {
	position: fixed;
	right: 0;
	bottom: 0;

	margin: 5%;
	padding: 5%;

	background: white;
	box-shadow: 0 0 5px 0 black;
}
