<section id="google-map">

	<google-map center="map.center" zoom="map.zoom">

	</google-map>

	<div class="map-controls" accordion>
		<accordion-group heading="Routes">
			<ul class="list-unstyled" ng-if="routeOptions">
				<li ng-repeat="(routeId, names) in routeOptions">
					<label>
						<input type="checkbox" ng-model="routesToDisplay[routeId]"> {{names.shortName}}
					</label>
				</li>
			</ul>
			<p class="text-muted" ng-if="!routeOptions">
				There are no routes for today.
			</p>
		</accordion-group>
	</div>
</section>
