<section id="google-map">
	<google-map center="map.center" zoom="map.zoom" draggable="true">
		<polyline class="route-path" ng-if="route.path" path="route.path" stroke="{color:route.color,opacity:0.5}" ng-repeat-start="route in routes | isActive"></polyline>
		<marker class="route-bus" coords="bus.location" icon="'images/bus-icon.svg'" ng-repeat="bus in route.buses" ng-if="route.buses" ng-repeat-end>
			<marker-label content="route.shortName + '( ' + bus.id + ')'" anchor="-10 15" class="label label-default"></marker-label>
			<window ng-cloak><!-- TODO --></window>
		</marker>
		<markers class="transit-stop" models="activeRouteStops" coords="'self'" options="{icon:'images/stop-icon.svg'}" fit="true"></markers>
	</google-map>

	<div class="map-controls" accordion>
		<accordion-group heading="Routes">
			<ul class="list-unstyled" ng-if="routes">
				<li ng-repeat="route in routes">
					<label>
						<input type="checkbox" ng-model="route.active"> {{route.shortName}}
					</label>
				</li>
			</ul>
			<p class="text-muted" ng-if="!routes">
				There are no routes for today.
			</p>
		</accordion-group>
	</div>
</section>
